In [1]:
import math
import sklearn
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf
import matplotlib.pyplot as plt

from math import sqrt
from pandas import concat
from matplotlib import pyplot
from keras.models import Sequential
from numpy import concatenate, asarray
from keras.layers import Dense, Dropout, LSTM
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [91]:
# read file
data = pd.read_excel('Dataset/data.xlsx')
data

          Ngày  Giá Cà Phê  Giá Diesel 1 lít  Precipitation (mm)
0   2021-01-01     31667.5             12640         1174.199994
1   2021-01-02     31667.5             12640         1174.199994
2   2021-01-03     31667.5             12640         1174.199994
3   2021-01-04     32717.0             12640         1174.199994
4   2021-01-05     32417.0             12640         1174.199994
..         ...         ...               ...                 ...
824 2023-04-06     49766.5             20140         1259.800013
825 2023-04-07     49566.5             20140         1259.800013
826 2023-04-08     49566.5             20140         1259.800013
827 2023-04-09     49566.5             20140         1259.800013
828 2023-04-10     49766.5             20140         1259.800013

[829 rows x 4 columns]

In [89]:
look_back = 90

# diesel
diesel = data["Giá Diesel 1 lít"].tail(look_back)

In [90]:
for i in range(len(diesel)):
    
    if i % 15 == 0:
        print(diesel.iloc[i])

21630
22520
21560
20250
20500
19430